<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title>Biblioteca</title>
</head>
<body>
		<table>
		<thead>
			<tr>
				<th>Título</th>
				<th>Descrição</th>
				<th>Autor</th>
				<th>Quantidade</th>
			</tr>
		</thead>
		<tbody>
		<% for livro in @livros %>
			<tr>
				<td><%= livro.titulo %></td>
				<td><%= livro.descricao %></td>
				<td><%= livro.autor %></td>
				<td><%= livro.quantidade %></td>
				<td>
					<form method="post" action="/livro/deletar/<%= livro.id %>">
						<input type="submit" value="Deletar">
					</form>
				</td>
			</tr>
		<% end %>
		</tbody>
		</table>
</body>
</html>