<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title>Cadastrar livro</title>
</head>
<body>
		<form action="/livro/criar" method="post">
			<label for="nome">Nome:</label>
			<input id="nome" name="nome" type="text" required>
			<br><br>
			<label for="descricao">Descricão:</label>
			<input id="descricao" name="descricao" type="text" required>
			<br><br>
			<label for="autor">Autor:</label>
			<input id="autor" name="autor" type="text" required>
			<br><br>
			<label for="quantidade">Quantidade:</label>
			<input id="quantidade" name="quantidade" type="number" step="1" min="0" max="30" required>
			<input type="submit" value="Cadastrar">
		</form>
</body>
</html>